html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  height: 100%;
}

.body-background {
  background-image: url("../../images/marion-botella-uaHShoIDGeo-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 2.5rem;
  height: 100%;
}

.page-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  position: relative;
  min-height: 100vh;
}
.alert {
  background-color: #ff4545;
  /* margin: 50px; */
}

.formPanel {
  background-color: #fdfdfd00;
  width: 30%;
  height: 250px;
  margin: 0px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in,
.log-out,
.register {
  background-color: #ef7b53;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #ca5233;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: #f2f2f2;
  border: none;
  padding: 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  float: right;
  margin: 10px;
}
